body {
	  background-color: #EBE8E4;
	  color: #222;
	  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	  font-weight: 300;
	  font-size: 15px;
}

#main {
	display: block;
	max-width: 1024px;
	margin: 0 auto;
	position: relative;
}

#common {
	float: left;
	width: 25%;
	position: fixed;
	margin: 8px auto;
	max-width: 300px;
}

#editor {
	width: 100%;
  	max-width: 750px;
  	overflow: hidden;
	box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-ms-box-sizing:content-box;
 }

	#editor textarea {
		font-size: 15px;
		padding: 15px;
		width: 95%;
	}

	#editor #heading {
		float: right;
		padding: 5px;
		width: 100%;
	}

	#editor .column-one {
		width: 15%;
	}

	#editor .column-two {
		width: 85%;
	}

	#editor input[type=submit] {
		margin-right: 60px;
   		margin-top: 35px;
   		width: 150px;
   		height: 45px;
   		font-size: 16.5px;
   		border-radius: 6px;
		box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	}

.logo > img {
	display: block;
	padding: 5px 0 10px 0;
}

.aut_form {
	display: block;
	max-width: 500px;
    margin: 60px auto;
	padding: 10px;
	background-color: rgb(40, 44, 47);
	color: white;
	border-radius: 6px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	overflow: hidden;
  	box-sizing: border-box;
  		-moz-box-sizing: border-box;
  		-webkit-box-sizing: border-box;
  		-ms-box-sizing:content-box;
}

	.aut_form .logo {
		max-width: 200px;
		margin: 0 auto;
	}

	.aut_form .form_description {
		margin: 7.5px;
		padding: 0 7.5px;
	}

	.aut_form form {
		background-color: #fff;
		color: #888;
		min-height: 120px;
		padding: 15px;
		margin: 15px;
		border-radius: 6px;
		box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	  	box-sizing: border-box;
  			-moz-box-sizing: border-box;
  			-webkit-box-sizing: border-box;
  			-ms-box-sizing:content-box;
	}

	.aut_form table {
 		margin: 0 auto;
 		table-layout: fixed;
 		width: 100%;
 	}

 	.column-one {
 		width: 35%;
 	}

 	.column-two {
 		width: 65%;
 	}

	.aut_form input[type=text], .aut_form input[type=password] {
		width: 95%;
	}

	.aut_form h1 {
		font-size: 20.25px;
		text-align: center;
	}

	.aut_form input[type=button], .aut_form input[type=submit] {
		float: right;
		margin: 7.5px 10px;
		width: 105px;
		height: 45px;
	}

	.aut_form table {
		table-layout: fixed;
	}

	.aut_form table td {
		height: 33px;
	}

.badges {
	font-weight: bold;
	font-style: italic;
	text-align: left;
	padding: 5px;
	font-size: 14.25px;
}

article, nav {
	background-color: #fff;
	color: #888;
	display: block;
  	border-radius: 6px;
  	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  	box-sizing: border-box;
  		-moz-box-sizing: border-box;
  		-webkit-box-sizing: border-box;
  		-ms-box-sizing:content-box;
}

article {
	float: right;
	width: 70%;
	margin: 8px 0 8px 0;
	max-width: 1000px;
  	min-width: 220px;
}

	article > header, article p, article h2, article li {
		line-height: 22.5px;
	    padding: 0 24px;
	    text-decoration: none;
	}

		article > header {
			overflow: hidden;
			padding: 10px;
			margin-left: 10px;
		}

		article > header > span {
			float: left;
		}

		article > header > h1 {
		 	text-align: right;
		 	padding: 24px 10px 10px 0px;
		 	margin: 0;
		 	color: #888;
		}

		article ul {
			list-style-type: none;
			text-align: right;
		}

		article ul li {
			margin-bottom: 10px;
		}

	article p {
		text-align: justify;
	}

	article footer {
		margin: 5px auto;
		padding: 24px;
	}
		article footer > cite {
			float: right;
		}

		article footer > span {
			float: left;
		}

.article_img {
	float: left;
	margin: 15px 15px 15px 24px;
	text-align: center;
}

.description {
	background-color: rgb(40, 44, 47);
	color: white;
}

	.description h1, .description a {
		color: white;
	}

	.description a {
		color: rgb(83,117,155);
	}

nav {
  border: 1px solid #dedede;
  overflow: hidden;
}

  nav ul {
    margin: 0;
    padding: 0;
  }

    nav ul li, .item {
      display: inline-block;
      list-style-type: none;
      width: 100%;
      
      -webkit-transition: all 0.2s;
      	-moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; 
    }
      nav ul li a, .item {
        color: #aaa;
        display: block;
        font-size: 18px;
        line-height: 60px;
        padding: 0 24px;
        text-decoration: none;
      }

        nav ul li:hover, .selected:hover a {
          background-color: rgb(40, 44, 47);
        }

        nav ul li:hover a, .selected:hover a {
          color: white;
        }

nav ul li.selected a, p.success, p.error, .badges {
    background-color: rgb(83,117,155);
    color: white;
    border-radius: 6px;
  	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
}

p.error, p.success {
    text-align: center;
    padding: 15px;
}

p.error {
	background-color: #AA3431;
}

p.whitespace {
	white-space: pre-wrap;
}

.rate_dialog {
	width: 100%;
	overflow: hidden;
	display: block;
}

	.rate_dialog input[type=submit] {
		width: 105px;
		height: 45px;
		float: right;
		margin-right: 60px;
		margin-top: 5px;
	}

	.item, .item.selected, .rate_dialog input[type=submit] {
		border-radius: 6px;
		background-color: #EBE8E4;
	  	box-shadow: 0 2px 2px -1px white;
	  	color: rgb(40, 44, 47);
	}

	.item, .item.selected {
		max-width: 300px;
		margin: 4px auto;
	}
        
iframe.youtube {
	border: none;
	display:block;
	padding: 22px;
	width: 400px;
    height: 300px;
    max-width: 640px;
    max-height: 480px;
    margin: 0 auto;
}

@media print
{
	iframe.youtube, article footer, #common  {
		display: none;
	}

	article {
		width: auto;
	}

	body {
		font-size: 12px;
	}
}